html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center;
}

h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 1rem;
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  text-decoration: none;
  color: inherit;
}

.card .thumbnail {
  border-radius: 10px;
}

.card h2 {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.images div {
  flex: 1 1 150px;
}